[Unit]
 Description=Pump log daemon
 After=multi-user.target
 StartLimitIntervalSec=500
 StartLimitBurst=5

[Service]
 Restart=on-failure
 RestartSec=5s
 Type=idle
 ExecStart=/home/pump/node_pump_server/start.sh

[Install]
 WantedBy=multi-user.target